caption {
  caption-side: top;
  color: #e0fbfc;
}

.journal-table-container {
  min-width: 100%;
}

.journal-table,
.orders-table {
  text-align: center;
}

.journal-table thead,
.orders-table thead {
  background-color: #3d5a80;
  color: #e0fbfc;
}

.journal-table th,
.orders-table th {
  border: 1px solid #e0fbfc;
  color: #e0fbfc;
}

.journal-table td,
.orders-table td {
  border: 1px solid #e0fbfc;
  color: #e0fbfc;
}

.orders-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 5px;
}

.order-form-row-group-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 15px;
}

.order-form-row-group,
.order-form-greek-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
}

.order-form-greek-header {
  border-bottom: 1px solid lightgray;
}

.order-form-greek-header {
  text-align: center;
}

.strategy-accordian-section,
.greeks-accordian-section {
  margin-bottom: 10px;
}

.strategy-accordian,
.greeks-accordian {
  background-color: #3d5a80;
  color: #e0fbfc;
  border: 2px solid #98c1d9;
  padding: 5px;
}

.strategy-accordian-title,
.greeks-accordian-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.strategy-accordian-title span,
.greeks-accordian-title span {
  color: #ee6c4d;
}

.order-signal-list-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #e0fbfc;
  color: #293241;
}

.strategy-accordian-title,
.greeks-accordian-title {
  padding: 5px;
}

@media (max-width: 330px) {
  .journal-table {
    font-size: 0.45em;
    font-weight: bold;
  }

  .orders-table {
    font-size: xx-small;
    font-weight: bold;
  }
}

@media (min-width: 331px) {
  .journal-table {
    font-size: xx-small;
    font-weight: bold;
  }

  .orders-table {
    font-size: x-small;
    font-weight: bold;
  }
}

@media (min-width: 411px) {
  .journal-table {
    font-size: x-small;
  }

  .orders-table {
    font-size: small;
    font-weight: bold;
  }
}

@media (min-width: 510px) {
  .journal-table {
    font-size: small;
  }

  .orders-table {
    font-size: inherit;
    font-weight: inherit;
  }
}

@media (max-width: 600px) {
  .order-page-wrapper {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 601px) {
  .order-page-wrapper {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .order-page-wrapper {
    width: 800px;
    margin: 0 auto;
  }
}
