.transaction-list-container {
	/* background-color: blue; */
}

.transaction-list-item-wrapper {
	/* background-color: orange; */
}

.transaction-list-item {
	width: 100%;
	padding: 5px 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.transaction-detail-wrapper {
	
}

.transaction-form-input-group {
	padding: 5px;
}

.transaction-form-top-row {
	display: flex;
	flex-direction: row wrap;
	flex-shrink: inherit;
	flex-grow: inherit;
	justify-content: space-between;
}