.home-lander-wrapper {
  padding: 80px 0;
  text-align: center;
}

.home-list-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .home-account-section {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 601px) {
  .home-account-section {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .home-account-section {
    width: 800px;
    margin: 0 auto;
  }
}
