.home-list-section {
  width: 100%;
}

@media (max-width: 600px) {
  .home-account-list-section {
    width: 100%;
  }

  .home-account-header {
    text-align: center;
  }
}

@media (min-width: 601px) {
  .home-account-list-section {
    width: 60%;
  }
}
