.home-list-section,
.order-type-dropdown-content,
.order-type-dropdown-content div,
.order-type-dropdown-content a {
  width: 100%;
}

.lander-wrapper {
	padding: 80px 0;
	text-align: center;
}

.order-accordian-section,
.account-card-container,
.spending-transaction-card-container,
.transaction-note-section,
.transaction-card-btn-container,
.order-form-section,
.investing-journal-account-performance-wrapper {
  margin-bottom: 10px;
}

.account-card-container,
.spending-transaction-card-container,
.transaction-note-section,
.order-form-section,
.order-type-accordian-title,
.order-type-dropdown-content,
.order-type-dropdown-content div,
.component-wrapper,
.order-type-accordian {
  background-color: whitesmoke;
}

.account-card-container,
.spending-transaction-card-container,
.transaction-note-section {
  padding: 10px;
  border-radius: 10px;
}

.spending-transaction-card-container,
.categories-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction-wrapper,
.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.transaction-card-btn-container {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-end;
  gap: 5px;
}

.transaction-note-header h6,
.order-form-greek-header {
  border-bottom: 1px solid lightgray;
}

.transaction-card-date-wrapper {
  text-align: right;
  margin-bottom: 2px;
}

.order-form-section {
  padding: 5px;
  border-radius: 5px;
}

.order-form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.order-form-row-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
}

.order-form-row-group-left {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 15px;
}

.order-form-greek-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;
}

.order-form-greek-header {
  text-align: center;
}

.order-type-accordian-title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.order-type-dropdown-content div:hover,
.view-selection {
  background-color: lightgray;
}

.order-type-dropdown-content a,
.order-type-dropdown-content {
  display: block;
  padding: 5px;
}

caption {
  caption-side: top;
}

.signal-input-group {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.order-signal-list-item{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.order-page-wrapper table{
	text-align: center;
}

.order-page-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

@media (max-width: 400px) {
  .btn {
    font-size: 3.25vw;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .home-account-list-section,
  .account-card-container,
  .spending-transaction-card-container,
  .accounts-list-section,
  .transaction-list-container,
  .order-type-accordian,
  .order-type-accordian-title,
  .journal-table-section,
  .orders-table-container,
  .orders-table-wrapper,
  .orders-table {
    width: 100%;
  }

  .home-account-header {
    text-align: center;
  }

  .home-list-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .account-card-container,
  .spending-transaction-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .account-list-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
  }

  .account-btn-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
  }

  .investing-journal-account-performance-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .component-container {
    height: 50px;
  }

  .component-wrapper {
    border-radius: 5px;
    height: 100%;
    padding: 5px;
    width: 31vw;
    /* font-size: 3.25vw; */
  }

  .order-type-accordian {
    padding: 10px;
    /* font-size: 3vw; */
  }

  .orders-table thead {
    font-size: 2vw;
  }

  .orders-table {
    text-align: center;
    font-size: 2.5vw;
  }

  .order-type-accordian-title span {
    color: slategray;
  }

  /* .option-order-ticker-section {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	.option-order-ticker {
		display: flex;
		flex-flow: row nowrap;
		gap: 10px;
	}

	.option-order-contract-section {
		display: flex;
		flex-flow: row nowrap;
		gap: 5px;
	} */
}

@media (min-width: 601px) {
  .home-account-list-section {
    width: 60%;
  }

  .home-list-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    margin-bottom: 5px;
  }

  .account-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .account-card-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    padding: 10px;
    margin-right: 10px;
  }

  .account-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .account-list-header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    margin-bottom: 5px;
  }

  .accounts-list-section {
    width: 60%;
  }

  .account-btn-wrapper {
    width: 150px;
    margin-bottom: 5px;
  }

  .transaction-list-section,
  .form-wrapper {
    width: 400px;
  }
}
