.component-container {
  color: #e0fbfc;
  border: 2px solid #98c1d9;
  border-radius: 5px;
  height: 50px;
  height: 100%;
  padding: 5px;
  width: 31vw;
}

.investing-journal-account-performance-wrapper {
  margin-bottom: 10px;
}

.investing-journal-account-performance-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.journal-accordian-section {
  margin-bottom: 10px;
}

.journal-accordian {
  background-color: #3d5a80;
  color: #e0fbfc;
  border: 2px solid #98c1d9;
  padding: 5px;
}

.journal-accordian-dropdown-content {
  background-color: #98c1d9;
  color: #293241;
  padding: 5px;
}

.journal-view-selection {
  color: #293241;
}

.journal-accordian-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.journal-accordian-dropdown-content div:hover,
.journal-accordian-dropdown-content a:hover  {
	cursor: pointer;
	background-color: #3d5a80;
  color: #e0fbfc;
}

.journal-accordian-dropdown-content a,
.journal-accordian-dropdown-content div,
.journal-accordian-dropdown-content {
	width: 100%;
  display: block;
}

@media (max-width: 600px) {
  /* .order-type-accordian,
  .order-type-accordian-title,
  .journal-table-section {
    width: 100%;
  } */
}
