.journal-page-container {
  width: 100%;
}

.investing-journal-account-performance-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.component-container {
  color: #e0fbfc;
  border: 2px solid #98c1d9;
  border-radius: 5px;
  padding: 5px;
}

.component-wrapper {
  display: inline-block;
  width: 32%;
}

.journal-accordian-section {
  margin-bottom: 10px;
}

.journal-accordian {
  background-color: #3d5a80;
  color: #e0fbfc;
  border: 2px solid #98c1d9;
  padding: 5px;
}

.journal-accordian-dropdown-content {
  background-color: #98c1d9;
  color: #293241;
  padding: 5px;
}

.journal-view-selection {
  color: #293241;
}

.journal-accordian-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
	font-weight: bold;
}

.journal-accordian-dropdown-content div:hover,
.journal-accordian-dropdown-content a:hover {
  cursor: pointer;
  background-color: #3d5a80;
  color: #e0fbfc;
	font-weight: bold;
}

.journal-accordian-dropdown-content a,
.journal-accordian-dropdown-content div,
.journal-accordian-dropdown-content {
  width: 100%;
  display: block;
}

.journal-table-section {
  width: 100%;
}

@media (max-width: 600px) {
	.journal-page-container  {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 601px) {
  .journal-page-container {
    width: 480px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .journal-page-container  {
    width: 800px;
    margin: 0 auto;
  }
}
