.replace-strategy-list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.confirmation-popup-wrapper {
  position: relative;
  z-index: 2;
  top: 20%;
  width: 80%;
  height: 40%;
  margin: 0 auto;
}

.confirmation-popup {
  background-color:  #98c1d9;
	color:#293241;
	font-weight: bold;
  padding: 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 6px -6px  #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.confirm-popup-info-wrapper {
  text-align: center;
}

.confirm-popup-btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 20px;
}
