body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}

/* input[type="file"] {
  width: 100%;
} */

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 0;
  margin: 0;
  padding: 0;
  /* display: none;
  -webkit-appearance: none; */
}

.app-container,
.app-wrapper {
  width: 100%;
}

.page-container {
  width: 100%;
}

.page-list-wrapper {
  width: 100%;
}

@media (max-width: 600px) {
  .page-wrapper {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 601px) {
  .page-wrapper {
    width: 85%;
    margin: 0 auto;
  }
}
