.investing-account-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3d5a80;
  color: #e0fbfc;
  border: 2px solid #98c1d9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.investing-account-card-container:active {
  background-color: #e0fbfc;
  color: #3d5a80;
  border: 2px solid #98c1d9;
}

.investing-account-form-button-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 5px;
}

@media (max-width: 600px) {
  .investing-account-wrapper,
  .investing-accounts-wrapper {
    max-width: 480px;
    margin: 0 auto;
  }

  .investing-account-card-container,
  .investing-accounts-list-wrapper {
    width: 100%;
  }

  .investing-account-btn-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
  }

  .investing-account-btn-wrapper {
    width: 48%;
    margin-bottom: 5px;
  }

  .investing-account-btn-wrapper a,
  .investing-account-btn-wrapper button {
    font-size: small;
    font-weight: bold;
  }
}

@media (min-width: 601px) {
  .investing-account-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .investing-account-wrapper,
  .investing-accounts-wrapper {
    width: 480px;
    margin: 0 auto;
  }

  .investing-account-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .investing-account-card-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    padding: 10px;
    margin-right: 10px;
  }

  .investing-account-card-balance {
    text-align: right;
  }

  .investing-account-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .investing-account-btn-wrapper {
    width: 150px;
    margin-bottom: 5px;
  }

  .investing-transaction-list-section {
    width: 400px;
  }
}

@media (min-width: 1000px) {
  .investing-account-wrapper,
  .investing-accounts-wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .investing-account-detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  .investing-transaction-list-section {
    width: 640px;
  }
}
